body, p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.nav {
    background-color: #2d4162;
}

.navbar {
    padding: 0 1rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-family: Cabin, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: underline;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
    color: #2d4162!important;
    background-color: #fff;
}

a.nav-link {
    color: #fff!important;
}
a.nav-link.active {
    color: #2d4162!important;
    text-decoration: underline;
    font-family: Cabin, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/* Table */
.table {
    width: auto;
}

thead {
    background-color: #2d4162;
    color: #ffffff;
}

th {
    border: 1px solid #707070;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    padding: 0 10px!important;
    text-align: center!important;
    vertical-align: middle!important;
    line-height:18px;
}

td {
    border: 1px solid #707070;
    padding: 0 3px!important;
}

/* Buttons */
.btn {
    padding: .1rem 1rem;
    font-family: Cabin, Arial, Helvetica, sans-serif;
}

.dropdown-item {
    color:#000000;
}

/* Dropdown */
.btn-secondary {
    width: 100px;
}

.dropdown-toggle::after {
    color:#b3b3b3;
    float:right;
    margin: 10px 0;
    width: 10px;
    height: auto;
}