$blue: #2d4162;
$indigo: #130d37;
$purple: #372f63;
$pink: #89043c;
$red: #a61c00;
$orange: #ff6201;
$yellow: #faa916;
$green: #3e7c31;
$teal: #255d55;
$cyan: #00ffe0;
$primary: $blue;
$gray-600: #707070;
$secondary: $gray-600;
$gray-200: #dbdbdb;
$light: $gray-200;
$black: #000;
$dark: $black;
$white: #fff;
$gray-100: #f3f3f3;
$gray-300: #cccccc;
$gray-400: #b3b3b3;
$gray-500: #999999;
$gray-700: #666666;
$gray-800: #434343;
$gray-900: #1e1e1e;
$enable-rounded: false;
$body-bg: $white;
$body-color: $black;
$border-color: $gray-600;
$border-radius: 0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;
$grid-gutter-width: 20px;
$font-family-sans-serif: Cabin, Arial, Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;
$table-border-color: $gray-600;
$table-head-bg: $blue;
$table-head-color: $white;
$table-dark-bg: $gray-600;
$table-dark-accent-bg: $gray-400;
$table-dark-border-color: $gray-600;
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1rem;
$btn-link-disabled-color: $gray-600;
$dropdown-link-color: $gray-200;
$dropdown-header-color: $gray-600;
$nav-tabs-border-color: $gray-600;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $gray-600 $gray-600 $nav-tabs-link-active-bg;
$card-border-color: $light;
$tooltip-bg: $blue;
$alert-color-level: 6.6;
$progress-bar-color: $white;
$list-group-border-color: $gray-200;
$font-weight-normal: 400;
$close-font-weight: $font-weight-normal;
$table-cell-padding: 0rem;
$table-cell-padding-sm: 0rem;
$input-bg: $gray-200;
$input-border-color: $white;
$input-color: $gray-700;
$input-placeholder-color: $black;
$dropdown-padding-y: 0.4rem;
$dropdown-spacer: 0rem;
$dropdown-min-width: 5rem;
$component-active-color: $white;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-disabled-color: $gray-600;
$dropdown-border-color: transparent;
$dropdown-bg: $white;